/*********************
Name: Jacob Wallace
Coding 07-09
Purpose: CSS for main bodies of all pages
**********************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/******** MAIN PAGE ***********/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

body {
  background-image: url("../images/top-img.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

/********** NAV CONTAINER *************/

nav {
  color: #fff;
  height: 5rem;
  width: 100vw;
  background-color: #111;
  display: flex;
  position: fixed;
  z-index: 10;
}

/*** Styling Logo ***/

.logo {
  padding:1rem;
  text-align: center;
}

.logo img {
  height: 4rem;
  width: 4rem;
}

/*** Styling Links ***/
.nav-links {
  color: #fff;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  list-style: none; 
  width: 88vw;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.nav-links li a:hover {
  color: rgb(153, 67, 153);
}

.nav-links li {
  color: #fff;
  position: relative;
}

.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}

/*** Styling Hamburger Icon ***/

.hamburger div {
  width: 30px;
  height:3px;
  background: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/*** Animating Hamburger Icon on Click ***/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width:0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}



/*************** CONTENT ****************/

.content {
  color: #fff;
  overflow: hidden;
}

.hero {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  min-width: 60vw;
  max-width: 70vw;
  margin: 0 auto;
  z-index: 5;
  position: relative;
}

.para {
  text-align: center;
  min-height: 90vh;
  max-width: 70vw;
  margin: 5rem auto;
  z-index: 5;
  position: relative;
  line-height: 2.5rem;
}
 
.hero h2 {
  font-size: clamp(2.5rem, 10vw, 3.5rem);
}

.hero p{
  font-size: clamp(1.5rem, 5vw, 2rem);
}

.results {
  padding-top: 5%;
}

.results p{
  font-size: clamp(1.2rem, 5vw, 1.6rem);
  font-weight: 600;
}

.para h2{
  font-size: clamp(1.5rem, 10vw, 2.5rem);
  padding-bottom: clamp(2rem, 20vw, 4rem);
}

.para p{
  font-size: clamp(0.8rem, 5vw, 1.5rem);
}

/************* ABOUT GRID *****************/

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 0.5rem;
  min-height: 50vh;
  max-width: 70vw;
  margin: auto;
  z-index: 5;
  position: relative;
  text-align: center;
}

.gridDiv h3 {
  font-size: 1.5rem;
  padding: 1rem;
}

.gridDiv li {
  list-style-type: none;
  font-size: 1.2rem;
}


/************* Contact Form *******************/

.contact-page {
  color: #fff;
  overflow: hidden;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 5;
  position: relative;
}

.form {
  min-height: auto;
  margin: 10rem auto;
  max-width: 60%;
  background-color: transparent;
  padding: 2rem;
  border: 5px solid #d0d0d0;
  border-radius: 3rem;
}

.input {
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #d0d0d0;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.input::placeholder {
  color: #d0d0d0;
  padding: .5rem;
  margin: auto;
  font-weight:500;
  font-size: 1.5rem;
}

.input:focus {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}

.input:focus::placeholder {
  color: transparent;
}

.form:focus , [type="submit"]:hover{ 
  border: 1px solid black;
  padding: 10px;
  box-shadow: 5px 10px black;
}

textarea{
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background: transparent;
  border-radius:5px;
  border:2px solid #d0d0d0;
  cursor:pointer;
  color:#d0d0d0;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

/************* TESTIMONIALS *****************/

.nick {
  min-width: 70%;
  float: left;
  border: .5rem solid white;
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: .5rem 1rem black;
  margin: 10rem 0;  
}

.brandon {
  min-width: 70%;
  float: right;
  border: .5rem solid white;
  border-radius: 2rem;
  box-shadow: .5rem 1rem black;
  padding: 2rem;
  margin: 10rem 0;  
}

/************* PROJECTS *****************/

.sec {
  position: relative;
  height: 100vh;
  width: 100vw;

}

.img-wrap {
  position: relative;
  top: 40%;
  height: 40%;
  width: 1px;
  overflow: hidden;
  opacity: 0;

}

.img-wrap.active {
  width: 40vw;
  opacity: 1;
  transition: opacity 0s width 2s;
}

.img-wrap.active > .image {
  transform: scale(1);
  transition: 1s ease-out;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 40vw;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: scale(1.6);
  filter: grayscale();
}

.image:hover {
  filter: none;
}

.h2 {
  position: absolute;
  opacity: 0;
  top: 70%;
  z-index: 5;
  transition: .2s;
}

.h2.active {
  opacity: 1;
  transition: 3s;
}

/************* WAVE ANIMATION *****************/

.waves {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25vh;
  transition: 500ms;
  background-color: var(--color);
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -70vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgba(51, 51, 51, .6);
  animation: waves 15s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(51, 51, 51, 0.4);
  animation: waves 23s linear infinite;
}

/************* FOOTER *****************/

.footer{
  text-align: center;
  bottom: 0;
  background-color: #111;
  height: auto;
  width: 100%;
  color: #fff;
  padding: 1rem;
  z-index: 5;
  position: relative;
}

.icons{
  padding-top: 1rem;
}

.icons a{
  text-decoration: none;
  font-size: clamp(0.8rem, 5vw, 1.5rem);
  margin: 0.5rem;
  color: #fff;
}

.company-name{
  font-size: clamp(0.8rem, 5vw, 1.5rem);
  margin-top: 0.5rem;
}  


/************* MEDIA QUERIES *****************/

/****** TABLET ******/
@media screen and (max-width: 800px) {

  /*** NAVBAR ***/

  nav {
      position: fixed;
      padding-bottom: 100px;
  }

  .hamburger {
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 1s ease;
  }

  .nav-links {
      position: fixed;
      background-color: #111;
      height: 50vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 95% -50%);
      -webkit-clip-path: circle(50px at 95% -50%);
      transition: all 1s ease-out;
      pointer-events: none;
  }

  .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }

  .nav-links li {
      opacity: 0;
  }

  .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
      transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
      transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }

  .nav-links li:nth-child(7) {
      transition: all 0.5s ease 1s;
      margin: 0;
  }

  li.fade {
      opacity: 1;
  }

  /**** ABOUT ****/

  .para {
    line-height: 2.0rem;
    min-width: 90vw;
  }
 
  /**** ABOUT GRID ****/
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gridDiv {
    padding-bottom: 2.5rem;
  }

  /**** CONTACT FORM ****/

  .form {
    max-width: 80%;
  }

  /**** TESTIMONIALS ****/

  .nick {
    float: none;
    padding: .5rem;
    font-size: .8rem;
  }
  
  .brandon {
    float: none;
    padding: .5rem;
    font-size: .8rem;
  }

  /**** WAVES ****/
  .waves::before,
  .waves::after {
    top: -65vw;
  }


  /**** FOOTER ****/
  .footer-menu ul{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 1em;
  }

}


/************ PHONES ************/
@media screen and (max-width: 500px) {
  
  /**** ABOUT ****/
  .para {
    line-height: 2.0rem;
    min-width: 90vw;
  } 
  
  /**** ABOUT GRID ****/
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  /**** CONTACT FORM ****/
  .form {
    max-width: 95%;
  }


  /**** WAVES ****/

  .waves::before,
  .waves::after {
    top: -60vw;
  }
}

/************* KEY FRAMES *****************/

/*** HERO ***/

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
  from {color: transparent;}
  to {color: #fff;}
}

.hero {
  animation: 1s ease-out 0s 1 slideDown;
}

/*** ABT COMP NEWS ***/

/* @keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.para {
  animation: 1s ease-out 0s 1 slideInLeft;
} */

/*** WAVES ***/
@keyframes waves {

  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}